<div style="position: absolute; top: 60px; right: 10px;min-width: 200px;text-align:center;">
    
        <% if (success) { %>
        <div class="ui floating success message">
            <p>
                <%= success %>
            </p>
        </div>
        <% } %>

        <% if (error) { %>
        <div class="ui floating error message">
            <p>
                <%= error %>
            </p>
        </div>
        <% } %>

  
</div>